@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: monospace, Helvetica, sans-serif;
}

.bgBlue{
  background-color: #0B1871;
}

.bgGray{
  background-color: rgba(103, 117, 210, 0.31);
}

.banner{
  background-image: url(./../../public/background.png);
  background: no-repeat center cover;
}



